<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Study | Research Tool</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Custom theme -->

    <link href="/stylesheets/styles.css" rel="stylesheet">

    <script src="http://cdn.ckeditor.com/4.6.1/standard/ckeditor.js"></script>




    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <style>
        #sortable {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 60%;
        }
        
        #sortable li {
            margin: 8px;
            padding: 2em;
            padding-top: 2em;
            padding-right: 2em;
            padding-bottom: 2em;
            padding-left: 2em;
            font-size: 14px;
            height: auto;
            font-weight: bolder;
            align-items: center;
        }
        
        #sortable li span {
            position: absolute;
            margin-left: -1.3em;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script>
        $(function() {
            $("#sortable").sortable();
            $("#sortable").disableSelection();
        });
    </script>


</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="/redirect">Research Tool</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/redirect">Home</a></li>
                    <!-- <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li> -->
                </ul>


                <ul class="nav navbar-nav navbar-right">


                    <!-- Split button -->
                    <div class="btn-group" style="margin: 8px;">
                        <button type="button" class="btn btn-default"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= username %></button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>



                </ul>


            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>


    <header id="header">

        <div class="container">

            <div class="row">

                <div class="col-md-10">
                    <h1><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Dashboard <small>Efficient Research Tool</small></h1>

                </div>

                <div class="col-md-2">


                </div>
            </div>
        </div>

    </header>



    <section>

        <div></div>

    </section>

    <section id="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">

                <li class="active">
                    <%= studyname %>
                </li>

            </ol>
        </div>
    </section>

    <section id="main">

        <div class="container">
            <div class="row">

                <!-- ++++ Experiments ++++ -->
                <div class="col-md-7">

                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h2 class="panel-title pull-left" style="padding-top: 7.5px;"><b>Experiments</b></h2>
                            <button type="button" class="btn btn-primary btn-sm pull-right main-color-bg" data-toggle="modal" data-study-id="<%= studyid %>" data-target="#addExperimentModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                        </div>
                        <div class="panel-body">

                            <table class="table table-hover">
                                <thead>
                                    <tr>

                                        <th>Name</th>
                                        <th>Task Order</th>
                                        <th>Delete</th>



                                    </tr>
                                </thead>
                                <tbody>

                                    <% experiments.forEach(function(experiment){%>

                                        <tr>

                                            <td>

                                                <a href="#showTaskOrders" data-toggle="modal" data-study-id="<%= studyid %>" data-experiment-name="<%= experiment.name %>" data-experiment-id="<%= experiment._id %>"> <span aria-hidden="true"><%= experiment.name %></span></a>
                                                <a href="#experimentRenameModal" data-toggle="modal" data-study-id="<%= studyid %>" data-experiment-id="<%= experiment._id %>" data-experiment-name="<%= experiment.name %>"> <span title="Rename Experiment" class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>





                                            </td>

                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm " data-toggle="modal" data-target="#addTaskOrder" data-study-id="<%= studyid %>" data-experiment-name="<%= experiment.name %>" data-experiment-id="<%= experiment._id %>"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                            </td>

                                            <td>
                                                <a href="/experiments/delete/<%= studyid %>/<%= experiment._id %>"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                        </tr>

                                        <% }); %>

                                </tbody>
                            </table>




                        </div>
                    </div>

                </div>

                <!-- ++++ Tasks ++++ -->
                <div class="col-md-5">

                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h2 class="panel-title pull-left" style="padding-top: 7.5px;"><b>Tasks</b></h2>
                            <button type="button" class="btn btn-primary btn-sm pull-right main-color-bg" data-toggle="modal" data-target="#addPage"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                        </div>
                        <div class="panel-body">

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Edit</th>
                                        <th>Delete Task</th>


                                    </tr>
                                </thead>
                                <tbody>

                                    <% tasks.forEach(function(task){%>

                                        <tr>
                                            <td></td>
                                            <td>

                                                <a href="#taskDetailsModal" data-toggle="modal" data-study-id="<%= studyid %>" data-task-name="<%= task.name %>" data-task-id="<%= task._id %>" data-task-link="<%= task.link %>" data-task-instructions="<%= task.instructions %>"> <span title="Modal Details" aria-hidden="true"><%= task.name %></span></a>






                                            </td>

                                            <td>
                                                <a href="#taskRenameModal" data-toggle="modal" data-study-id="<%= studyid %>" data-task-id="<%= task._id %>" data-task-name="<%= task.name %>"> <span title="Rename Task" class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> &nbsp;&nbsp;
                                                <a href="#taskEditInstructionsModal" data-toggle="modal" data-study-id="<%= studyid %>" data-task-id="<%= task._id %>" data-task-instructions="<%= task.instructions %>"> <span title="Edit Instructions" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>&nbsp;&nbsp;
                                                <a href="#taskEditLinkModal" data-toggle="modal" data-study-id="<%= studyid %>" data-task-id="<%= task._id %>" data-task-link="<%= task.link %>"> <span title="Edit Link" class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
                                            </td>

                                            <td>
                                                <a href="/tasks/delete/<%= studyid %>/<%= task._id %>"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                        </tr>

                                        <% }); %>

                                </tbody>
                            </table>



                        </div>
                    </div>


                </div>



            </div>
        </div>

    </section>

    <!-- Show task Orders -->
    <div class="modal fade" id="showTaskOrders" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">


                <form id="taskorderform" method="GET" action="">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="experimentnamemodal">Experiment Name</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">


                            <ul id="taskorderslist">

                            </ul>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Add Task order Modal  -->

    <div class="modal fade" id="addTaskOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">


                <form id="taskorderform" method="GET" action="">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Task Order</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Order Name</label>
                            <input type="text" class="form-control" placeholder="Order Name" name="ordername" required>
                        </div>

                        <div class="form-group">

                            <label>User Emails</label>
                            <input type="text" class="form-control" placeholder="Emails seperated by ',' (comma)" name="emails" required>


                        </div>

                        <div class="form-group">

                            <label>Tasks in Order</label>
                            <p style="color: red; font-weight: bolder;">Click on the task name to remove it from the list</p>

                            <ul id="sortable">


                                <% tasks.forEach(function(task){%>

                                    <li class="ui-state-default" id="<%= task._id %>" name="<%= task._id %>"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                                        <%= task.name %>
                                            <input name="task" value="<%= task._id %>" hidden/>
                                            <input name="task_name" value="<%= task.name %>" hidden/>

                                    </li>

                                    <% }); %>

                            </ul>


                        </div>




                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Create Order" />

                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- Add Experiment -->


    <div id="addExperimentModal" class="modal fade" role="dialog" style="position: fixed; top: 50% !important;">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Experiment</h4>
                </div>
                <div class="modal-body">

                    <form id="experimentform" method="POST" action="">

                        <div class="form-group pull-left">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-tint"></i></span>
                                <input id="experiment" type="text" class="form-control" name="experimentname" placeholder="Experiment Name" required>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-default main-color-bg pull-left">Add Experiment</button>
                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>





    <!-- Add Task -->
    <div class="modal fade" id="addPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">


                <form id="taskform" method="POST" action="/tasks/addtask/<%=studyid%>">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Task</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Task Name</label>
                            <input type="text" class="form-control" placeholder="Task Name" name="taskname" required>
                        </div>
                        <div class="form-group">
                            <label>Task Instructions</label>

                            <textarea class="ckeditor" name="cktext" id="cktext" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Task Logo</label>
                            <input type="file" class="form-control" placeholder="Select file" name="file" accept="image/*">
                        </div>
                        <div class="form-group">
                            <label>Link</label>
                            <input type="url" class="form-control" placeholder="http://example.com/somepage" name="tasklink" required>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Create Task" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Experiment Rename Modal -->
    <div id="experimentRenameModal" class="modal fade" role="dialog" style="position: fixed; top: 50% !important;">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Rename</h4>
                </div>
                <div class="modal-body">

                    <form id="renameform" method="GET" action="/experiments/rename">

                        <div class="form-group pull-left">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                                <input id="experiment" type="text" class="form-control" name="experimentnewname" placeholder="Experiment Name" required>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-default main-color-bg pull-left">Rename</button>
                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Task Rename Modal -->
    <div id="taskRenameModal" class="modal fade" role="dialog" style="position: fixed; top: 50% !important;">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Rename</h4>
                </div>
                <div class="modal-body">

                    <form id="renameform" method="GET" action="/tasks/rename">

                        <div class="form-group pull-left">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                                <input id="task" type="text" class="form-control" name="tasknewname" placeholder="Task Name" required>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-default main-color-bg pull-left">Rename</button>
                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>



    <!-- Task Link edit Modal -->
    <div id="taskEditLinkModal" class="modal fade" role="dialog" style="position: fixed; top: 50% !important;">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Link</h4>
                </div>
                <div class="modal-body">

                    <form id="editlinkform" method="GET" action="/tasks/editlink">

                        <div class="form-group pull-left">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
                                <input id="task" type="url" class="form-control" name="newlink" placeholder="Link" required>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-default main-color-bg pull-left">Update</button>
                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>



    <!-- Task Instructions edit Modal -->
    <div id="taskEditInstructionsModal" class="modal fade" role="dialog" style="position: fixed; top: 50% !important;">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Instructions</h4>
                </div>
                <div class="modal-body">

                    <form id="editinstructionsform" method="GET" action="/tasks/editinstructions">

                        <div class="form-group pull-left">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>

                                <textarea class="form-control" name="newinstructions" id="task" cols="80" rows="10" required></textarea>
                            </div>

                        </div>
                        <br>
                        <button type="submit" class="btn btn-default main-color-bg pull-left">Update</button>
                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <!-- Task Details Modal -->
    <div id="taskDetailsModal" class="modal fade" role="dialog" style="position: fixed; top: 50% !important;">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h4 class="modal-title" name="task-name"></h4>
                </div>
                <div class="modal-body">




                    <div name="task-instructions">

                    </div>

                    <div name="task-link">

                    </div>





                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>







    <script src="/js/bootstrap.min.js"></script>


    <script>
        $(document).ready(function() {




            document.getElementById("sortable").addEventListener("click", function(e) {

                if (e.target && e.target.nodeName == "LI") {

                    e.target.remove();
                }
            });

            //triggered when modal is about to be shown
            $('#showTaskOrders').on('show.bs.modal', function(e) {

                //get data-id attribute of the clicked element

                document.getElementById('taskorderslist').innerHTML = '';
                var experimentName = $(e.relatedTarget).data('experiment-name');
                var studyId = $(e.relatedTarget).data('study-id');
                var experimentId = $(e.relatedTarget).data('experiment-id');
                var url = '/experiments/fetchtaskorder/' + studyId + '/' + experimentId;

                document.getElementById('experimentnamemodal').innerText = experimentName;


                $.getJSON(url,
                    function(data) {


                        data.forEach(element => {

                            var taskordernamelabel = document.createElement("h4");
                            taskordernamelabel.innerText = "Order Name : " + element.name;

                            var li = document.createElement("li");
                            li.className = 'li';
                            li.setAttribute('id', element._id);
                            li.appendChild(taskordernamelabel);

                            var userslabel = document.createElement("b");
                            userslabel.innerText = "Users";
                            li.appendChild(userslabel);

                            var ol_users = document.createElement("ul");


                            element.users.forEach(ele => {


                                var li_nested = document.createElement("li");
                                li_nested.setAttribute('id', ele);
                                li_nested.appendChild(document.createTextNode(ele));

                                ol_users.appendChild(li_nested);
                            });

                            li.appendChild(ol_users);

                            li.appendChild(document.createElement('br'));

                            var taskorderlabel = document.createElement("b");
                            taskorderlabel.innerText = "Tasks";
                            li.appendChild(taskorderlabel);


                            var ol_tasks = document.createElement("ol");

                            for (var i = 0; i < element.orders.length; i++) {

                                var li_nested = document.createElement("li");
                                li_nested.setAttribute('id', element.orders[i]);
                                li_nested.appendChild(document.createTextNode(element.ordernames[i]));

                                ol_tasks.appendChild(li_nested);


                            }

                            li.appendChild(ol_tasks);




                            document.getElementById('taskorderslist').appendChild(li);


                        });
                    });


            });



            //triggered when modal is about to be shown
            $('#addTaskOrder').on('show.bs.modal', function(e) {

                //get data-id attribute of the clicked element

                var studyId = $(e.relatedTarget).data('study-id');
                var experimentId = $(e.relatedTarget).data('experiment-id');

                $(e.currentTarget).find('form[id="taskorderform"]').attr('action', '/experiments/taskorder/' + studyId + '/' + experimentId);


            });



            //triggered when modal is about to be shown
            $('#addExperimentModal').on('show.bs.modal', function(e) {

                //get data-id attribute of the clicked element

                var studyId = $(e.relatedTarget).data('study-id');

                $(e.currentTarget).find('form[id="experimentform"]').attr('action', '/experiments/addexperiment/' + studyId);


            });



            //triggered when modal is about to be shown
            $('#taskDetailsModal').on('show.bs.modal', function(e) {

                $(e.currentTarget).find('div[name="task-instructions"]').html("");
                $(e.currentTarget).find('div[name="task-link"]').html("");


                //get data-id attribute of the clicked element
                var taskId = $(e.relatedTarget).data('task-id');
                var studyId = $(e.relatedTarget).data('study-id');
                var taskName = $(e.relatedTarget).data('task-name');
                var taskLink = $(e.relatedTarget).data('task-link');
                var taskInstructions = $(e.relatedTarget).data('task-instructions');



                $(e.currentTarget).find('h4[name="task-name"]').text(taskName);
                $(e.currentTarget).find('div[name="task-instructions"]').append(taskInstructions);
                $(e.currentTarget).find('div[name="task-link"]').append('<a href="' + taskLink + '">' + taskLink + '</a>');




            });

            //triggered when modal is about to be shown
            $('#experimentRenameModal').on('show.bs.modal', function(e) {

                //get data-id attribute of the clicked element
                var experimentId = $(e.relatedTarget).data('experiment-id');
                var studyId = $(e.relatedTarget).data('study-id');
                var experimentName = $(e.relatedTarget).data('experiment-name');



                //populate the textbox
                $(e.currentTarget).find('input[name="experimentnewname"]').val(experimentName);
                $(e.currentTarget).find('form[id="renameform"]').attr('action', '/experiments/rename/' + studyId + '/' + experimentId);


            });

            //triggered when modal is about to be shown
            $('#taskRenameModal').on('show.bs.modal', function(e) {

                //get data-id attribute of the clicked element
                var taskId = $(e.relatedTarget).data('task-id');
                var studyId = $(e.relatedTarget).data('study-id');
                var taskName = $(e.relatedTarget).data('task-name');



                //populate the textbox
                $(e.currentTarget).find('input[name="tasknewname"]').val(taskName);
                $(e.currentTarget).find('form[id="renameform"]').attr('action', '/tasks/rename/' + studyId + '/' + taskId);


            });

            $('#taskEditLinkModal').on('show.bs.modal', function(e) {

                //get data-id attribute of the clicked element
                var taskId = $(e.relatedTarget).data('task-id');
                var studyId = $(e.relatedTarget).data('study-id');
                var tasklink = $(e.relatedTarget).data('task-link');




                //populate the textbox
                $(e.currentTarget).find('input[name="newlink"]').val(tasklink);
                $(e.currentTarget).find('form[id="editlinkform"]').attr('action', '/tasks/editlink/' + studyId + '/' + taskId);


            });

            $('#taskEditInstructionsModal').on('show.bs.modal', function(e) {

                //get data-id attribute of the clicked element
                var taskId = $(e.relatedTarget).data('task-id');
                var studyId = $(e.relatedTarget).data('study-id');
                var taskInstructions = $(e.relatedTarget).data('task-instructions');




                //populate the textbox
                $(e.currentTarget).find('textarea[name="newinstructions"]').val(taskInstructions);
                $(e.currentTarget).find('form[id="editinstructionsform"]').attr('action', '/tasks/editinstructions/' + studyId + '/' + taskId);


            });


            $('#taskform')
                .formValidation({
                    framework: 'bootstrap',
                    excluded: [':disabled'],
                    icon: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        cktext: {
                            validators: {
                                notEmpty: {
                                    message: 'The Instructions is required and cannot be empty'
                                },
                                callback: {
                                    message: 'The bio must be more than 2 characters long',
                                    callback: function(value, validator, $field) {
                                        if (value === '') {
                                            return true;
                                        }
                                        // Get the plain text without HTML
                                        var div = $('<div/>').html(value).get(0),
                                            text = div.textContent || div.innerText;

                                        return text.length >= 2;
                                    }
                                }
                            }
                        }
                    }
                })
                .find('[name="cktext"]')
                .ckeditor()
                .editor
                // To use the 'change' event, use CKEditor 4.2 or later
                .on('change', function() {
                    // Revalidate the bio field
                    $('#taskform').formValidation('revalidateField', 'cktext');

                });
        });
    </script>


    <script src="/js/script.js"></script>





</body>

</html>